ul.parallax{
  height: 100%;
  background-color: rgba(4, 5, 7, 1);
  background-image: url("../img/bg.jpg");
}
ul.parallax>li{
  width:100%;
  height:100%;
  margin: 0;
}

.book>.book-content{
  transform: rotate(-17deg);
  position: relative;
  top: 35px;
  left: 50px;
  max-width: 179px;
  text-align: left;
}

.book>.book-content {
  color: #222;
  font-size: 1.4em;
  line-height: 1.2;
}

.book>.book-content>h4{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
}

.book>.book-content>.to-do>li {
  font-size: .7em;
  line-height: 1.5em;
}

.book>h4>ul{
  margin-top:8px;
}

.book>h4>ul>li{
  margin-top:3px;
}

.book-content>ul>li:nth-child(3){
  text-decoration:line-through;
}

.clock-content {
  transform: rotateY(40deg) rotate(28deg) !important;
  border-radius: 100%;
  top: 130px;
  display: block;
  height: 250px;
  width: 250px;
  position: relative;
  opacity: 0.4;
}
.clock-content>.hour {
  background: rgba(0,0,0,0.95);
  border-radius: 10px 10px 0 0;
  height: 0;
  left: 50%;
  position: absolute;
  top: 54%;
  width: 0;
  transform-origin: 50% 100%;
  margin: -50px -3px 0;
  padding: 53px 3px 0;
}
.clock-content>.minute {
  background: rgba(0,0,0,0.75);
  height: 0;
  left: 49%;
  position: absolute;
  top: 56%;
  width: 0;
  transform-origin: 50% 100%;
  margin: -65px -2px 0;
  padding: 65px 2px 0;
}
.clock-content>.second {
  background: rgba(0,0,0,0.75);
  height: 0;
  left: 51%;
  position: absolute;
  top: 56%;
  width: 0;
  transform-origin: 50% 100%;
  margin: -80px -1px 0;
  padding: 80px 1px 0;
}

.scene,
.gravity {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scene {
  min-height: 460px;
  position: relative;
  overflow: hidden;
}

.gravity {
  position: absolute;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.gravity div {
  transform: translate3d(0,0,0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.background {
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 5, 0.7);
  transition: background 1.5s ease;
  z-index: 1;
}

.gravity{
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
}

.book {
  background-image: url("../img/book.png");
  width: 324px;
  height: 360px;
  top: 7%;
  left: 15%;
}
.clock {
  background-image: url("../img/clock.png");
  width: 333px;
  height: 459px;
  bottom: 6%;
  left: 4%;
}
.cup {
  background-image: url("../img/cup.png");
  width: 314px;
  height: 366px;
  bottom: 2%;
  right: 5%;
}
.mac {
  background-image: url("../img/mac.png");
  width: 742px;
  height: 687px;
  top: 18%;
  left: 25%;
}
.pen {
  background-image: url("../img/pen.png");
  width: 570px;
  height: 220px;
  top: 5%;
  left: 7%;
}
.phone {
  background-image: url("../img/phone.png");
  width: 240px;
  height: 407px;
  top: 15%;
  right:15%;
}
.plant {
  background-image: url("../img/plant.png");
  width: 532px;
  height: 637px;
  bottom:-15%;
  left: 35%;
}

.mac{
  visibility:visible;
}

.mouse-icon{
  display:none;
  height: 64px;
  width: 64px;
  position: absolute;
  z-index:99999;
  bottom:20px;right:0;left:0;
  margin:auto;
}

g#mouse {
  animation: movement .8s ease infinite alternate;
  opacity: 0.4;
}

li.layer{
  pointer-events: none;
}

li.layer:last-child{
  pointer-events: auto;
}

@keyframes movement{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(10px);
  }
}

