
h3#subline {
  min-height: 33px;
}

h3#subline>span::before,
h3#subline::after {
  content: "";
  width: 3px;
  height: 25px;
  top: 5px;
  left: 3px;
  position: relative;
  background: #CCD2D7;
  display: inline-block;
  -webkit-animation: pulsing .7s ease infinite;
  animation: pulsing .7s ease infinite
}
h3#subline>span::before{
  left:-3px;
  top:5px;
}

h3#subline.hasSpan::after{
  display:none;
}

@keyframes pulsing {
  0%,
  100%{
    opacity:0;
    filter: alpha(opacity=0);
  }
  50%{
    opacity:1;
    filter: alpha(opacity=100);
  }
}