body {
  font-size: 16px;
  font-weight: 300;
  color: $color-grey-font;
  font-family: $font-sans-stack;
}

h1,
h2,
.btn,
p>em,
.book-content>h4,
h5{
  font-family: $font-sans-stack;
}

h3,
h4,
p,
a,
.amp,
.giant-ampersand,
blockquote,
.book-content ul,
section ul{
  font-family: $font-serif-stack;
  font-weight: normal;
}

h1{
  color: $color-white-font;
  font-weight: normal;
  font-weight: bold;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 > strong {
  font-weight: 600;
}

h2{
  color: $color-dark-font;
  font-size: 1.7em;
  margin-bottom: 0;
}

h3{
  color: $color-dark-font;
}

a,
header h3{
  color: $color-base-font;
}

h1 {
  font-size: 2.5em;
  color: $color-white-font;
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 700;
  display: inline-block;
  line-height: 1.6;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.4em;
  width: 100%;
  border-bottom: 1px solid $color-dark-font;
  padding-bottom: .2em;
}

h3{
  font-weight: normal;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.7;
}

.amp{
  font-style: italic;
}

.amp {
  font-size: 1em;
}

h4 {
  display: block;
  font-size: 1.2em;
  line-height: 1.7;
}

h5 {
  font-size: 1em;
  font-weight: normal;
  margin-top: .25em;
}

p.item{
  font-size: .9em;
  color: $color-grey-font;
  margin-top: 0;
  line-height: 1.5;
  letter-spacing: .6px;
}

.item h4, .item p {
  color: $color-grey-font;
}

p {
  font-size: 1em;
  line-height: 1;
  margin-top: .4em;
}

section p{
  line-height:1.8;
}

p>em {
  color: $color-white-font;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
}

blockquote>q {
  font-size: 1.3em;
  line-height: 1.5;
  font-weight: normal;
  font-style: italic;
  color: $color-grey-font;
}

cite{
  font-style: normal;
  color: $color-grey-font;
}

q,
blockquote,
blockquote>q {
  quotes: "\201C" "\201D";
}

blockquote>footer {
  text-align: right;
  margin-right: 0px;
}

blockquote {
  margin: 20px 0;
}

p > q{
  font-style: italic;
  font-size: 1.05em;
}

.section-title{
  font-weight:bold;
}

.section-title:after {
  content: "";
  display: block;
  background: $color-white-font;
  width: 90%;
  max-width: 90px;
  height: 4px;
  margin: 10px 0;
}

.item {
  margin: 20px 0;
}

.rule {
  box-sizing: border-box;
  height: 1px;
  background: $color-dark-font;
}

section#designer h1,
section#designer p>em {
  color: $color-dark-font;
}
section#designer blockquote>q,
section#designer footer>cite,
section#designer p{
  color: $color-grey-font;
}
section#developer blockquote>q,
section#developer footer>cite,
section#developer p{
  color: $color-base-font;
}
section#designer h1::after{
  background: $color-dark-font;
}