html {
  font-size: 16px;
  @include md-width{
    font-size: 18px;
  }
}

body {
  color: map-get($colors, purple);
  font-family: map-get($typography, proxima-nova);
  font-weight: 300;
}

h1{
  font-family: map-get($typography, futura);
}

h2,
h5,
a,
button{
  font-family: map-get($typography, proxima-nova);
}

h1{
  color: map-get($colors, white);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @include xs-width{
    font-size: 3rem;
  }
  @include md-width{
    font-size: 3.55rem;
    letter-spacing: -2px;
  }
}

h2{
  border-bottom: 1px solid map-get($colors, purple);
  color: map-get($colors, purple);
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 0;
  padding-bottom: .2rem;
  text-transform: uppercase;
  width: 100%;
}

h3{
  color: map-get($colors, white);
  font-size: 1.15rem;
  font-weight: normal;
  line-height: 1.7;
  margin: 0;
}

h4 {
  color: map-get($colors, purple);
  font-size: 1.15rem;
  font-style: italic;
  line-height: 1.7;
}

h5 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: .45rem;
  letter-spacing: 2px;
}

p{
  line-height: 1.5;
}
section p{
  margin-bottom: 1rem;
}
section p:last-child{
  margin-bottom: 0;
}

blockquote {
  font-family: map-get($typography, merriweather);
  font-style: italic;
  font-weight: normal;
}

blockquote > q {
  color: map-get($colors, purple);
  font-size: 1.5rem;
  @include md-width{
    font-size: 1.333rem;
  }
  line-height: 1.5;
  display: inline;
}

blockquote > footer{
  display: inline-block;
  margin-left: .45rem;
}

cite{
  color: map-get($colors, grey);
}

q,
blockquote,
blockquote>q {
  quotes: "\201C" "\201D";
}

q{
  font-style: italic;
  font-family: map-get($typography, merriweather);
}

p > q {
  font-size: 0.9em;
}

blockquote > footer {
  margin-top: .75rem;
  text-align: left;
}

blockquote {
  margin: 20px 0;
}

.smallcaps { 
  font-family: map-get($typography, proxima-nova-smallcaps);
  font-feature-settings: "smcp" on; 
  font-variant: small-caps;
  font-size: 1.3rem;
  @include md-width{
    font-size: 1.155rem;
  }
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  margin-right: .3rem;
}
