doctype html
html
    head(lang='en')

        block title
            title Juan Ferreras - Designer & Developer from Argentina
        
        meta(name='Description', content='An entrepreneur. Founder of Flioh! Designer & developer from Argentina.')
        meta(name='Keywords', content='juan ferreras, web design, web development, branding, motion, flioh, argentina, diseño, desarrollo')
        meta(name='robots', content='INDEX, FOLLOW')
        meta(name='geo.placename', content='Santa Fe')
        meta(name='geo.region', content='AR')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimal-ui')
        link(rel='canonical', href='http://juanferreras.com/')

        // Favicon
        link(rel='apple-touch-icon', sizes='180x180', href='/img/apple-touch-icon.png?v=8je6k0egMB')
        link(rel='icon', type='image/png', href='/img/favicon-32x32.png?v=8je6k0egMB', sizes='32x32')
        link(rel='icon', type='image/png', href='/img/favicon-16x16.png?v=8je6k0egMB', sizes='16x16')
        link(rel='manifest', href='/img/manifest.json?v=8je6k0egMB')
        link(rel='mask-icon', href='/img/safari-pinned-tab.svg?v=8je6k0egMB', color='#2c3c4c')
        link(rel='shortcut icon', href='/img/favicon.ico?v=8je6k0egMB')
        meta(name='msapplication-config', content='/img/browserconfig.xml?v=8je6k0egMB')
        meta(name='theme-color', content='#2c3c4c')

        // Facebook meta tags
        meta(property='og:type', content='website')
        meta(property='og:site_name', content='Juan Ferreras')
        meta(property='og:title', content='Juan Ferreras - Designer & Developer from Argentina.')
        meta(property='og:description', content='An entrepreneur. Founder of Flioh! Designer & developer from Argentina.')
        meta(property='og:image', content='/img/meta-image.jpg')
        meta(property='og:url', content='https://juanferreras.com/')

        // Twitter meta tags
        meta(property='twitter:card', content='summary')
        meta(property='twitter:site', content='@Flioh')
        meta(property='twitter:title', content='Juan Ferreras - Designer & Developer from Argentina.')
        meta(property='twitter:description', content='An entrepreneur. Founder of Flioh! Designer & developer from Argentina.')
        meta(property='twitter:image', content='/img/meta-image.jpg')
        meta(property='twitter:url', content='http://juanferreras.com/')
        
        // Stylesheets
        link(rel='stylesheet', href='css/style.css?v7')
        
        // Scripts
        script(src='//use.typekit.net/uqr2sij.js')
        script.
          try {
            Typekit.load();
          } catch (e) {
            console.log(e);
          }

        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-82428643-1', 'auto');
          ga('send', 'pageview');

    block body