$font-sans-stack: "brandon-grotesque", 'Arial', sans-serif;
$font-serif-stack: "merriweather", 'Georgia', serif;

$color-base-font: #CCD2D7;
$color-dark-font: #222;
$color-grey-font: #9a9a9a;
$color-white-font: #fff;

