$font-primary-stack: "futura-pt", 'Open Sans', 'Arial', sans-serif;
$font-sans-stack: "proxima-nova", 'Open Sans', 'Arial', sans-serif;
$font-serif-stack: "merriweather", 'Georgia', serif;

$color-base-font: #938e9b;
$color-dark-font: #1f142f;
$color-grey-lighter-font: #c3bfc7;
$color-grey-font: #938e9b;
$color-white-font: #fff;

