$xs-width: 34rem; //544px
$sm-width: 48rem; //765px
$md-width: 66rem; //1056px
$lg-width: 75rem; // 1200px
$xlg-width: 100rem; // 1600px
$sm-height: 700px;
$md-height: 900px;

@mixin xs-width {
  @media only screen and (min-width: $xs-width) {
    @content;
  }
}
@mixin sm-width {
  @media only screen and (min-width: $sm-width) {
    @content;
  }
}
@mixin md-width {
  @media only screen and (min-width: $md-width) {
    @content;
  }
}
@mixin lg-width {
  @media only screen and (min-width: $lg-width) {
    @content;
  }
}
@mixin xlg-width {
  @media only screen and (min-width: $xlg-width) {
    @content;
  }
}
@mixin sm-height{
  @media only screen and (min-height: $sm-height) {
    @content;
  }
}
@mixin md-height{
  @media only screen and (min-height: $md-height) {
    @content;
  }
}
@mixin sm-width-sm-height {
  @media only screen and (min-width: $sm-width) and (min-height: $sm-height) {
    @content;
  }
}
@mixin sm-width-md-height {
  @media only screen and (min-width: $sm-width) and (min-height: $md-height) {
    @content;
  }
}
@mixin lg-width-sm-height {
  @media only screen and (min-width: $lg-width) and (min-height: $sm-height) {
    @content;
  }
}
@mixin lg-width-md-height {
  @media only screen and (min-width: $lg-width) and (min-height: $md-height) {
    @content;
  }
}
@mixin xlg-width-sm-height {
  @media only screen and (min-width: $xlg-width) and (min-height: $sm-height) {
    @content;
  }
}
@mixin xlg-width-md-height {
  @media only screen and (min-width: $xlg-width) and (min-height: $md-height) {
    @content;
  }
}