main{
  margin-bottom: 0;
  @include md-width{
    margin-bottom: 29.33rem;
  }
  @include lg-width{
    margin-bottom: 28.44rem;
  }
}
main.main--relative{
  margin-bottom: 0 !important;
}
#footer{
  position: relative;
  @include md-width{
    height: 29.33rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @include lg-width{
    height: 28.44rem;
  }
  width: 100%;
  z-index: -2;
  background: map-get($colors, light-purple);
}
#footer.footer--relative{
  position: relative !important;
  height: auto !important;
}
.footer{
  @include container;
  padding: 4rem 1rem;
  text-align: center;
  @include sm-width{
    padding: 4rem 0;
  }
}
.footer__background{
  background: #241833 url("../img/roll.gif") no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 0;
  filter: grayscale(100%) contrast(115%);
  width: 100%;
  min-height: 100%;
  height: auto;
  @include xs-width{
    display: block;
    height: 100%;
  }
  z-index: -1;
  @include sm-width{
    transform: perspective(1px) scale(1.25);
  }
  transition: opacity .5s ease, transform 5s ease;
}
.footer__background--active {
  opacity: 0.25;
  transform: perspective(1px) scale(1);
  transition: opacity .5s ease, transform 2s ease;
}
.footer__title{
  color: map-get($colors, white);
  font-size: 3rem;
  @include sm-width{
    font-size: 5rem;
  }
  @include md-width{
    font-size: 4.444rem;
  }
  font-family: map-get($typography, futura);
  text-transform: none;
  border-bottom: 0;
}
.footer__title span.merriweather{
  font-family: map-get($typography, merriweather);
  font-size: .825em;
  font-style: italic;
}
.footer__subtitle{
  font-size: 1.375rem;
  text-transform: uppercase;
  font-family: map-get($typography, proxima-nova);
  letter-spacing: 8px;
  font-weight: bold;
}
.footer__description{
  color: map-get($colors, light-grey);
  max-width: 40rem;
  margin: 1rem auto;
}
.footer__description a.underline{
  color: map-get($colors, red);
  margin: 0 .35rem;
  white-space: nowrap;
  line-height: 1.2;
}
.footer__description a.underline::after{
  background: map-get($colors, red);
  line-height: 1.2;
}
.footer__description span.roll{
  font-style: italic;
  cursor: help;
  border-bottom: 1px dotted map-get($colors, light-grey);
}

.footer__copyright{
  background: map-get($colors, dark-purple);
  position: relative;
  @include sm-width{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  padding: 2rem;
  @include lg-width{
    padding: 1rem 0;
  }
}
.footer--relative .footer__copyright{
  bottom: initial;
}
.footer__row{
  @include container;
}
.footer__column{
  width: 100%;
  margin: 1rem 0;
  @include md-width{
    margin: 0 0;
    @include span(4);
  }
  text-align: center;
  color: map-get($colors, grey);
  font-family: map-get($typography, proxima-nova);
}
.footer__column--left{
  @include md-width{
    text-align: left;
  }
}
.footer__column--right{
  width: 100%;
  margin: 1rem 0;
  @include md-width{
    margin: 0 0;
    text-align: right;
    @include span(4 last);
  }
}
.footer__column svg{
  fill: #fff;
  max-width: 50px;
  vertical-align: middle;
  margin: 0 .5rem;
}
.footer__column .heart-icon svg{
  fill: map-get($colors, red);
  max-width: 1rem;
  margin-left: 0;
  margin: 2px .45rem .35rem 4px;
}
.footer__column p .heart-icon + a {
  display: inline;
  margin-left: .25rem;
}
.footer__column a.underline.underline--fix {
  margin-bottom: .5rem;
  @include md-width{
    margin-bottom: 0;
  }
}
.footer__column a svg {
  bottom: 5px;position: relative;
}
.footer__column a{
  margin-top: .5rem;
}
.footer__column p{
  line-height: 1.1;
}
.footer__column p > a{
  margin-left: .5rem;
}