*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
.main-wrapper,
main,
main #landing{
  height: 100%;
}
body{
  overflow-x:hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
}
.wow{
  visibility:hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display:inline-block;
}
ul li{
  display: inline-block;
  margin: 0 10px;
}
img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 0;
  height: 265px;
  width: 100%;
  z-index: 2;
}
main section{
  width: 100%;
}
main section {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
*:focus {
  outline: none !important;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgba(31,20,47,0.99);
}

::selection {
  color: white;
  background: rgba(31,20,47,0.99);
}

input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}
input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
  color: rgba(255,255,255,0.2);
}
input::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}
input:active::-moz-placeholder,
input:focus::-moz-placeholder {
  color: rgba(255,255,255,0.2);
}
input:-ms-input-placeholder {
  color: rgba(255,255,255,0.8);
}
input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
  color: rgba(255,255,255,0.2);
}

.overflow-hidden{
  overflow:hidden;
}

.section {
  text-align: center;
}
.section p {
  margin: 2em 0;
  line-height: 1.6;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header.home{
  text-align: center;
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
}
header.home h3 {
  margin: 3px 0 6px;
}
a {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

a:focus,
a:hover{
  color: #fff;
}

a,
.btn,
.btn::before,
.btn::after,
svg,
svg g{
  transition: all 0.4s ease;
}

.btn {
  cursor: pointer;
  width: 180px;
  display: inline-block;
  margin: .5em .1em;
  border: 2px solid rgba(255,255,255,0.3);
  background: none;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  color: $color-white-font;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: .75rem 1rem;
  background: transparent;
  color: #fff;
  overflow: hidden;
  transition: border-color 0.3s ease, color 0.5s ease, background-color 0.6s ease, all 0.6s ease;
}
.btn:focus,
.btn:hover {
  background-color: $color-white-font;
  color: $color-dark-font;
  border-color: $color-white-font;
}
.btn-secondary{
  color: $color-dark-font;
  border-color: $color-grey-lighter-font;
  background: transparent;
}
.btn-secondary:focus,
.btn-secondary:hover{
  color: $color-white-font;
  border-color: $color-dark-font;
  background: $color-dark-font;
}
.or{
  display: block;
  font-family: $font-sans-stack;
  font-style: italic;
  color: $color-white-font;
  font-size: 1rem;
}
.or::before,
.or::after{
  content:"";
  width: 70px;
  position: relative;
  display: inline-block;
  height: 2px;
  bottom: 3px;
  background: rgba(255,255,255,0.3)
}
.or::before{
  margin-right: .75rem;
}
.or::after{
  margin-left: .75rem;
}
.btn-link{
  font-family: $font-serif-stack;
  display: inline-block;
}