*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
.main-wrapper,
main,
main #landing{
  height: 100%;
}
body{
  overflow-x:hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
}
.wow{
  visibility:hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display:inline-block;
}
ul li{
  display: inline-block;
  margin: 0 10px;
}
img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 0;
  height: 205px;
  width: 100%;
  z-index: 2;
}
main section{
  width: 100%;
}
main section {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
