@media screen and (min-width: 548px){
  .section h1{
    font-size: 2.5rem;
  }
  .nl-form{
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px){
  body{
    font-size:16px;
  }
  h1{
    font-size: 5rem;
  }
  h3{
    font-size: 1.35rem;
  }
  .layer h1{
    font-size: 12.5rem;
  }
  .wrapper {
    width: 530px;
  }
  .container {
    width: 85%;
    max-width:950px;
    margin: 0 auto;
  }
  .book,
  .plant,
  .mac,
  .rotated-wrapper{
    visibility:visible;
  }
  #designer{
    background-image: url("../img/bg-designer.jpg");
  }
  #developer{
    background-image: url("../img/bg-developer.jpg");
  }

  section#designer>.info{
    background: rgba(255,255,255,0.92);
  }

  section#developer>.info{
    background: rgba(31,20,47,0.9);
  }
  
  section>.info>.container{
    max-width: 600px;
    position:absolute;
    top:0;bottom:0;
    right: 0;
    left: 0;
    margin:auto;
    height: 690px;
  }
  section>.info{
    width: 100%;
    min-height: 100%;
    position: relative;
  }
  main section {
    min-height: 800px;
    height: 100%;
  }
  .section p {
    font-size: 1.8rem;
    line-height: 2;
  }
  .modal .modal-content {
    padding: 4rem 10%;
  }
  .modal-close {
    top: 70px;
  }
  h3>a:focus,
  h3>a:hover{
    color: #162836;
    margin-left:5px;
  }
  .invisible-square {
    width: 230px;
    height: 230px;
    border: 15px solid rgba(255,255,255,0.2);
    bottom: 80px;
  }
  .top-line {
    right: 230px;
  }
  .top-circle{
    left: 210px;
  }
  .middle-wave {
    right: 225px;
    bottom: 105px;
  }
  #sherlockHolmes{
    opacity:1;
    margin-top: 100px;
  }
  .nl-form{
    font-size: 1.75rem;
  }
  .nl-field-toggle{
    margin-left: .85rem;
  }

}
@media print, screen and (min-width: 992px){
  .clock{
    visibility: visible;
  }
  section > .row > div[class^="col-"]{
    text-align:right;
  }
  ul.profile{
    text-align: right;
  }
  .nl-form {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .modal .modal-content {
    padding: 6em 20%;
  }
  .modal p {
    font-size: 2rem;
    line-height: 2;
  }
  .nl-form {
    font-size: 2.25rem;
  }
}
@media screen and (min-width:1170px) and (min-height:700px){
  .pen,
  .cup{
    visibility:visible;
  }
  section>.info{
    width: 50%;
    float: right;
  }
  span.giant-ampersand {
    display:block;
  }
  blockquote>q {
    font-size: 1.6rem;
  }
  main section {
    overflow: hidden;
  }
  main > nav{
    display:block;
  }
}
@media screen and (min-width:1170px) and (min-height:900px){
  .phone{
    visibility:visible;
  }
}

@media print{
  @page {
    margin: .7cm;
  }
  body {
    font-size: 10pt;
  }
  .container {
    width:100%;
    max-width: 100%;
  }
  section p{
    line-height: 1.7;
  }
  section:nth-child(4n),
  section:nth-child(6n){
    page-break-after: always;
  }
  header h1,
  header h3{
    color: $color-dark-font;
  }
  header.about {
    background: transparent;
    padding: 0;
    margin: 0;
  }
  header.about h1{
    font-weight: normal;
  }
  header.about h1>strong{
    font-weight:bold;
  }
  .down-arrow{
    display:none;
  }
}