nav,
.midnightHeader,
.midnightInner {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
nav{
  pointer-events: none;
  position: fixed;
  z-index: 9999;
  display:none;
}
.midnightInner{
  position: relative;
}
.nav__list{
  width: 50px;
  position: absolute;
  right: 0;
  top: 45%;
}
.nav__element{
  pointer-events: auto;
  display: block;
  position: relative;
  height: 30px;
}
.nav__element::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid map-get($colors, white);
  transition: all 0.4s ease;
}
.nav__element:hover:after,
.nav__element:focus:after,
.nav__element.nav__element--current:after{
  background: map-get($colors, white);
}
.nav--black .nav__element::after{
  border: 2px solid map-get($colors, purple) !important;
}
.nav--black .nav__element:hover:after,
.nav--black .nav__element:focus:after,
.nav--black .nav__element.nav__element--current:after {
  background: map-get($colors, purple) !important;
}
.nav__element:focus::after {
  background: map-get($colors, red);
  box-shadow: 0 0 20px map-get($colors, red);
}
.nav--black .nav__element:focus::after {
  background: map-get($colors, white) !important;
  box-shadow: 0 0 20px map-get($colors, white) !important;
}
.nav--flags {
  position: absolute;
  top: 23px;
  right: 60px;
  width: initial;
  height: initial;
  display: block;
  clear: both;
  overflow: visible !important;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}
.body--frozen .nav--flags{
  opacity: 0;
  visibility: hidden;
}
.nav__switch {
  position: relative;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  width: 60px;
  height: 30px;
  margin: 5px auto;
}
.nav__switch:before, .nav__switch:after {
  position: absolute;
  color: map-get($colors, white);
  font-family: map-get($typography, proxima-nova);
  top: 8px;
  font-size: 0.8rem;
}
.nav__switch:before {
  left: -24px;
  content: attr(data-first-lang);
}
.nav__switch:after {
  right: -22px;
  content: attr(data-second-lang);
}
.nav__input {
  display: none;
}
.nav__input + .nav__label {
  display: block;
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 60px;
}
.nav__input + .nav__label:before, .nav__input + .nav__label:after {
  content: "";
  position: absolute;
  border-radius: 30px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav__input + .nav__label:before {
  height: 30px;
  width: 60px;
  background-color: rgba(255,255,255,0.1);
}
.nav__input + .nav__label:after  {
  top: 3px;
  left: 3px;
  border: 2px solid #fff;
  width: 24px;
  height: 24px;
  background: #eb3 url('../img/flags.jpg') -26px center;
  transform: translate(30px, 0);
  -webkit-transform: translate(30px, 0);
}
.nav__input:checked + .nav__label:after {
  background: #000233 url('../img/flags.jpg') -2px center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.nav__input:checked + .nav__label:before {
  background-color: rgba(255,255,255,0.1);
}
