.resume{
  background: map-get($colors, white);
}
.resume__header{
  background: map-get($colors, purple);
  padding: 3rem 0;
}
.resume__container{
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}
.resume__container::after,
.resume__row::after {
  content: " ";
  display: block;
  clear: both;
}
.resume__title{
  @include md-width{
    @include span(8);
  }
}
.resume__title h1{
  font-size: 4rem;
  font-weight: normal;
  font-family: map-get($typography, futura);
  color: map-get($colors, white);
  margin-bottom: .25rem;
  @include md-width{
    font-size: 5rem;
  }
}
.resume__title h1 span{
  font-weight: bold;
}
.resume__title h3{
  color: map-get($colors, light-grey);
  font-size: 1.5rem;
}
.resume__details{
  padding-top: 2rem;
  @include md-width{
    padding-top: .5rem;
    @include span(4 last);
  }
}
.resume__details ul li{
  display: block;
  text-align: right;
  margin: .5rem 0;
  line-height: 1.5;
  font-size: 1.1rem;
  color: map-get($colors, light-grey);
}
.resume__details ul li a{
  font-size: 1.1em;
  line-height: 1.4;
}
.resume-section{
  margin: 2rem 0;
}
.resume-section__title{
  font-family: map-get($typography, futura);
  color: map-get($colors, purple);
}
.resume-section__title{
  border-bottom-width: 2px;
  margin-bottom: 1rem;
}
.resume-profile__picture{
  text-align: center;
  margin-top: 2rem;
}
.resume-profile__picture,
.resume-section__times{
  @include span(3);
}
.resume-section__container{
  @include span(9 last);
}
.resume-profile__picture > img{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  box-shadow: -20px 20px 60px rgba(0,0,0,0.04);
  transform: perspective(1px) translate3d(0,0,0) scale(0.95);
  transition: all 0.6s ease;
  -webkit-filter: grayscale(100%) contrast(110%);
  filter: grayscale(100%) contrast(110%);
}
.resume-profile__picture > img:hover{
  box-shadow: -20px 20px 60px rgba(0,0,0,0.08);
  transform: perspective(1px) translate3d(0,0,0) scale(1);
}
.resume-section__container p{
  margin: 1rem 0;
  line-height: 1.8;
  color: map-get($colors, dark-grey);
}
.resume__row{
  margin-bottom: 1rem;
}
.resume-section__times{
  text-align: right;
}
.resume-section__subtitle{
  font-family: map-get($typography, proxima-nova);
  font-size: 1.3rem;
  color: map-get($colors, purple);
  font-weight: bold;
}
.resume-section__container h4{
  font-weight: normal;
}
.resume-section__note{
  font-size: 0.85em;
}
.resume-section__note::before{
  display: block;
  content: "";
  width: 100px;
  height: 1px;
  background: map-get($colors, dark-grey);
  margin-bottom: .5rem;
}