section#designer>.info{
  background: rgba(255,255,255,1);
}

section#developer>.info{
  background: rgba(4, 5, 7, 1);
}

section>.info{
  width: 100%;
  position: relative;
}

section#developer>.info{
  float:left;
}

section>.info>.container{
  position: relative;
  margin: 35px auto 25px;
  overflow: hidden;
}

span.giant-ampersand {
  font-size: 22em;
  text-align: center;
  position: absolute;
  display: none;
  color: #FFF;
  text-shadow: 0 0 25px rgba(0,0,0,.15);
}

#developer span.giant-ampersand {
  top: -212px;
  right: -150px;
}

#designer span.giant-ampersand {
  bottom: -239px;
  left: -117px;
}
main section#landing{
  min-height: initial;
  overflow:hidden;
}
